# Folders
cap_5/data
cap_6/data/CNPyV2010_personas_gsoc.csv
cap_6/data/ILOSTAT_cat_ocup_rama_full.csv
cap_6/data/World_Census_Agriculture_E_All_Data_(Normalized).zip
cap_6/data/World_Census_Agriculture_S_Todos_los_Datos.zip

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
